@model CoreJob.Web.Dashboard.Models.ExecuterViewModel

@{
    ViewData["Title"] = "执行器";
}
<form class="ui form" id="form" enctype="multipart/form-data">
    <div class="ui clearing basic segment" style="padding: 0px" id="header">
        <div style="float: right">
            <a class="ui button" id="btn-discard" href='@Url.Action("index", "executer")'>取消</a>
            @if (!Model.IsNew)
            {
                <div class="negative ui button" id="btn-delete">删除</div>
            }
            <div class="ui buttons">
                <div class="ui primary button" id="btn-save">保存</div>
            </div>
        </div>
        @if (Model.IsNew)
        {
            <h1 class="ui left floated header">
                添加执行器
            </h1>
        }
        else
        {
            <h1 class="ui left floated header">
                修改执行器
            </h1>
        }
    </div>

    <div class="ui segment">
        <input type="hidden" name="IsNew" value=@Model.IsNew.ToString().ToLower() />
        <input type="hidden" name="ExecuterId" value='@Model.ExecuterId' />
        <div id="job-properties">
            <div class="two fields">
                <div class="field accept-error">
                    <label>名称</label>
                    <input type="text" name="ExecuterName" placeholder="请输入名称" value="@Model.ExecuterName" id="jobName" />
                </div>
                <div class="field accept-error">
                    <label>注册名</label>
                    <input type="text" name="RegistryKey" placeholder="请输入注册名" value="@Model.RegistryKey" id="jobName" />
                </div>
            </div>
            <div class="field accept-error">
                <label>注册方式</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        @{
                            var auto = Model.Auto ? "checked" : "";
                            var unAuto = Model.Auto ? "" : "checked";
                        }
                        <input type="radio" name="Auto" value="true" @auto>
                        <label for="Auto">自动</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="Auto" value="false" @unAuto>
                        <label for="Auto">手动</label>
                    </div>
                </div>
            </div>
            <div class="field accept-error">
                <label>机器地址</label>
                <table class="ui very basic single line table" id="registry_hosts">
                    <thead>
                        <tr>
                            <th class="six wide">地址</th>
                            <th class="six wide">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var list = new List<(RegistryHostsItem, string)>() {
                                (new RegistryHostsItem(), "template")
                            };

                            if (Model.RegistryHosts != null && Model.RegistryHosts.Count > 0)
                            {
                                foreach (var host in Model.RegistryHosts)
                                {
                                    list.Add((host, string.Empty));
                                }

                            }

                            list.Add((new RegistryHostsItem(), ""));
                        }

                        @for (int i = 0; i < list.Count; i++)
                        {
                            var (item, template) = list[i];
                            <tr class="@template" data-row-id="@item.Id">
                                <td class="name-col field accept-error">
                                    <input type="hidden" data-name-base="RegistryHosts" data-name-temp="Id" value="@item.Id" />
                                    <input type="text" data-name-base="RegistryHosts" data-name-temp="Url" placeholder="请输入地址" value="@item.Url" autocomplete="off">
                                </td>
                                <td class="type-col">
                                    <a href="javascript:void(0)" class="copy-row" title="复制"><i class="large black copy outline icon"></i></a>
                                    <a href="javascript:void(0)" class="delete-row" title="删除"><i class="red large trash alternate outline icon"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<div class="ui mini modal" id="delete-dialog">
    <div class="content">
        <p>确定要删除这个执行器?</p>
        <p><b class="confirm-item"></b></p>
    </div>
    <div class="actions">
        <div class="ui approve red button">删除</div>
        <div class="ui cancel button">取消</div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/registry-hosts.js"></script>
    <script>
        function save() {
            if ($('#job-data-map .type-col .ui.dropdown.disabled').length > 0) return; // type change in progress

            $('#dimmer').dimmer('show');

            var formData = new FormData($('#form')[0]);

            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '@Url.Action("save", "executer")',
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (processValidationResponse(data)) {
                        document.location = '@Url.Action("index", "executer")';
                    } else {
                        $('#dimmer').dimmer('hide');
                    }
                },
                error: function (e) {
                    $('#dimmer').dimmer('hide');
                    prependErrorMessage(e, $('#job-properties'));
                }
            });
        }

        function autoStatus(selected) {
            if (selected == 'true') {
                $("#registry_hosts").find("input").attr("disabled", "disabled");
                $("#registry_hosts").find(".copy-row").hide();
                $("#registry_hosts").find(".delete-row").hide();
            } else {
                $("#registry_hosts").find("input").removeAttr("disabled");
                $("#registry_hosts").find(".copy-row").show();
                $("#registry_hosts").find(".delete-row").show();
            }
        }

        $(function () {
            $('#btn-save').click(function () { save(); });
            $("#btn-delete").click(function () {
                $('#delete-dialog .confirm-item').text(jobName);
                deleteItem({}, $('#msg-panel'),
                    '/executer/delete/@Model.ExecuterId', '/executer/index');
            });

            $("input[name='Auto']").click(function () {
                autoStatus($(this).val());
            });

            autoStatus($("input[name='Auto']").val());
        });
    </script>
}
